.modalOverlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}
  

.modalWindow{
    width: 90%;
    height: 90%;
    border-radius: 5px;
    background: #fff;
    margin: 2.5% auto;
    position: relative;
}   
  
.modal-body{
    height: 90%;
    padding: 0px 30px;
}
.modal-header {
    padding: 10px 10px;
    
}

.modalClose {
    float: right;
    cursor: pointer;
    size: 10px;
}

.modal-title {
    font-size: 1.5rem;
}

